files:
  "/var/lib/tomcat8/webapps/temp" :
    mode: "120400"
    content: "/IRCstorage/temp"

  "/var/lib/tomcat8/webapps/jbrowse" :
    mode: "120400"
    content: "/IRCstorage/jbrowse/current"


"/etc/httpd/conf.d/cors.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin: *
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true
 
        SetOutputFilter DEFLATE
      </Location>