files:
  "/etc/profile.d/Path.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      export PATH=$PATH:.

  "/opt/elasticbeanstalk/hooks/appdeploy/post/666_SymLinks.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      ln -s /IRCstorage/temp/ /var/lib/tomcat8/webapps/temp
      ln -s /IRCstorage/jbrowse/current/ /var/lib/tomcat8/webapps/jbrowse
      ln -s /IRCstorage/rice-ideogram/current/ /var/lib/tomcat8/webapps/rice-ideogram
      ln -s /IRCstorage/3kfastqc/ /var/lib/tomcat8/webapps/3kfastqc
      ln -s /IRCstorage/static/dev/ /var/lib/tomcat8/webapps/dev
      ln -s /IRCstorage/static/suppl/ /var/lib/tomcat8/webapps/suppl
      ln -s /IRCstorage/static/doc/ /var/lib/tomcat8/webapps/snpseek-javadoc
      ln -s /IRCstorage/static/gwas/ /var/lib/tomcat8/webapps/static
 